@{
    ViewData["Title"] = "Ocr Result";
}

<h2>@ViewData["Title"]</h2>

<div class="img">
    <img src="@ViewBag.ImageBase64" alt="Uploaded Image" class="img-thumbnail" />
</div>
<p>OCR Result: </p>
<p>@Html.Raw(ViewBag.OCRResult)</p>
<p>File Name: @ViewBag.FileName</p>
<p>Base64:</p>
<p class="base64">@ViewBag.ImageBase64</p>

<form action="/" method="get">
<button type="submit" class="btn btn-primary">Return</button>
</form>